

.header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.header-button {
    background-color: white;
    color: #4CAF50;
    border: 1px solid #4CAF50;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 5px;
}

.header-button:hover {
    background-color: #4CAF50;
    color: white;
}
